#top {
	text-align: center;
}

#top h3 {
	color:#7F7B7F;
}


#left img {
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#action_list a, li {
	list-style-type:none;
	text-decoration: none;
	margin:0;
	padding:0;
}


#action_list a:link {
	color:#7F7B7F;	
}

#action_list a:visited {
	color:#7F7B7F;
}

#action_list a:hover {

	color:red;
} 

li {
	padding-bottom: 10px;
}