body {
	font-family: Arial, sans-serif;
	margin:0% 0%;
	background-image:url('/chalkboard-black.jpg');
	color:white;
}

.left {

	width: 56%;
	margin-left:3%;
	padding: 1%;
	opacity:0.9;
}

.right {
	border:1px solid grey;
	float:right;
	clear:bottom;
	width: 33%;
	margin:0% 3%;
	padding: 1%;
	background-color:#FFF6FF;
	color: black;
}

h1{
	font-family: 'Schoolbell', cursive;
}

ul {
	list-style-type: none;
}

#menu img {
	float:left;
}

#menu li {
	font-size: large;
	width:70px;
	float:right;
}

#menu {
	margin-top: 0px;
	height:80px;
	padding-top: 10px;
	padding-bottom:0px;
}


#menu a:link {color:white;}
#menu a:visited {color:white;}
#menu a:hover {color:green;} 
